.field--name-body img {
max-width: 100%;
}

.intro-header .container:after {
   content: "";
   height: 553px;
   width: 100%;
   opacity: 1;
   background: rgba(0,0,0,.5);
   display: block;
   top: 0;
   left: 0;
   position: absolute;
}

.intro-header .col-lg-8 {
 z-index: 1;
}
.field--name-categorieen .field--item:after {
    content: "|";
    padding-left: 5px;
}

.field.field--name-categorieen .field--item:last-child:after {
    content: "";
}
.field--name-categorieen .field--item {
    font-size: 13px;
    float: left;
    margin-right: 5px;
}
.post-meta {
  font-size: 13px;
}

.field--name-body {
float: right;
}
